<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Banners>
            <version>0.1.0</version>
        </Magebuzz_Banners>
    </modules>
    <frontend>
        <secure_url>
            <banners>/banners/</banners>
        </secure_url>
        <routers>
            <banners>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Banners</module>
                    <frontName>banners</frontName>
                </args>
            </banners>
        </routers>
        <layout>
            <updates>
                <banners>
                    <file>banners.xml</file>
                </banners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <banners>
                <use>admin</use>
                <args>
                    <module>Magebuzz_Banners</module>
                    <frontName>banners</frontName>
                </args>
            </banners>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <banners>
                            <title>Manage Banners</title>
                            <children>
                                <items translate="title">
                                    <title>Manage Banners</title>
                                    <sort_order>8</sort_order>
                                </items>
                                <config translate="title">
                                    <title>Configure Banners</title>
                                </config>
                            </children>
                            <sort_order>8</sort_order>
                        </banners>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <banners translate="title" module="banners">
                                            <title>Banners Section</title>
                                            <sort_order>50</sort_order>
                                        </banners>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <banners>
                    <file>banners.xml</file>
                </banners>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <banners>
                <class>Magebuzz_Banners_Model</class>
                <resourceModel>banners_mysql4</resourceModel>
            </banners>
            <banners_mysql4>
                <class>Magebuzz_Banners_Model_Mysql4</class>
                <entities>
                    <banners>
                        <table>banners</table>
                    </banners>
                    <banners_store>
                        <table>banners_store</table>
                    </banners_store>
                </entities>
            </banners_mysql4>
        </models>
        <resources>
            <banners_setup>
                <setup>
                    <module>Magebuzz_Banners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banners_setup>
            <banners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banners_write>
            <banners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banners_read>
        </resources>
        <blocks>
            <banners>
                <class>Magebuzz_Banners_Block</class>
            </banners>
        </blocks>
        <helpers>
            <banners>
                <class>Magebuzz_Banners_Helper</class>
            </banners>
        </helpers>
        <template>
            <email>
                <banners_general_email_template>
                    <label>Title Email</label>
                    <file>banners_example.html</file>
                    <type>html</type>
                </banners_general_email_template>
            </email>
        </template>
    </global>
    <!--Set Default Value For Setting Options-->
    <default>
        <banners>
            <general>
                <enable_banners>1</enable_banners>
                <include_js>1</include_js>
            </general>
            <banners_setting>
                <transition_type>fade</transition_type>
								<show_title_banners>0</show_title_banners>
                <show_description_banners>0</show_description_banners>
                <transition_speed>3</transition_speed>
            </banners_setting>
        </banners>
    </default>
    <translate>
        <modules>
            <Magebuzz_Banners>
                <files>
                    <default>Magebuzz_Banners.csv</default>
                </files>
            </Magebuzz_Banners>
        </modules>
    </translate>
</config>